<% content_for :stylesheets, stylesheet_link_tag('refinery/refinerycms-events') %>

<section id='records'>
  <%= render :partial => 'records' %>
</section>
<aside id='actions'>
  <%= render :partial => 'actions' %>
</aside>
