<div id="other_dates" class="other_dates">
  <h3><%= t('events.show.other_times_and_dates') %></h3>
  <ul>
    <% @other_dates.each do |event| %>
      <li>
        <% loc = event.location %>
        <%= link_to l(event.start_at, :format => :long), event_path(event) %>
        <% if loc != @event.location %>
          <%= loc.venue %>
          <% if loc.city.present? %>
            , <%= loc.city %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>